<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>楊荃喜簡介</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:#ffe493; font-size:50px;}
		h2 {color:#68aded; font-size:50px;}
		h3 {color:#ff93ae; font-size:25px;}
		h4 {font-size:25px;}
	</style>

	<script>
		function change1() {
  			document.getElementById("pic").src = "/static/abc.jpg";
  			document.getElementById("h2text").innerText = "楊荃喜";
		}
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>
<body>
	<main class="container-fluid bg-info text-white text-center">
	<table width="70%">
		<tr>
			<td>
				<main>
				<img src="/static/abc.jpg"class="img-fluid rounded-circle"  width="50%" id="pic" onmouseover="change1()" ></img>
			</td>

			<td>
				<main class="container-fluid bg-light text-white text-center">
				<h1>楊荃喜</h1>
				<main class="container-fluid bg-light text-white text-center">
				<h2 >靜宜大學/資訊管理學系</h2>
		
			</td>
		</tr>
	</table>


	
	<table width="100%" border="1">
		<tr>
			
			<td>
				<h1>關於我</h1>
				<h3>姓名:</h3><h4>楊荃喜</h4><br>
				<h3>系級：</h3><h4>資訊管理學系二A</h4><br>
				<h3>學號：</h3><h4>411134256</h4><br>
				<h3>E-Mail:</h3><h4><a href="yangquanxi80@gmail.com">yangquanxi80@gmail.com</a></h4><br>
			</td>

			<td>
				<h1 >喜愛佳句</h1>
				<h4>別人的看法都是狗屁,你是誰只有你自己說的算<h4><br>
				<h4>我的命運由我不由天<h4><br>
				<h4>人心中的成見是一座大山,你怎麼努力都休想搬動<h4><br>
				<h4>從不拘泥任何世俗凡人的目光,我要奔向前方那光。<h4><br>
				</section>

			</td>

			<td>
				<h1 >推薦影片</h1><br>
				<iframe src="https://www.youtube.com/embed/usQ89sDQ26E
				" allowfullscreen></iframe>
				</main>

			</td>
		</tr>
	</table>
	
	<footer>
		Copyright ©  楊荃喜. All Rights Reserved.
	</footer>
	<main class="container-fluid bg-info text-white text-center">
</body>
</html>