<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MIS相關工作介紹</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:#4ce0cf; font-size:60px;}
		h2 {font-size:20px;}
	</style>

	<script>
		function change1() {
  			document.getElementById("pic").src = "/static/ted.jpg";
  			document.getElementById("h2text").innerText = "靜宜資管";
		}
	</script>


	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>
<body>
	<main class="container-fluid bg-dark text-white text-center">
	<table width="70%">
		<tr>
			<td>
				<img src="/static/ted.jpg"class="img-fluid rounded-circle"  width="80%" id="pic" onmouseover="change1()" ></img>
			</td>


			<td>
				<main class="container-fluid bg-light text-white text-center">
				<h1>益在企業股份有限公司</h1>
				<main class="container-fluid bg-light text-white text-center">
			</td>
		</tr>
	</table>


	<table width="70%" border="1">
		<tr>
			<td>
				<h1>公司資訊</h1><br>
				<h2>公司名稱：益在企業股份有限公司</h2><br>
				<h2>公司地址：高雄市大寮區農場路212號</h2><br>
				<h2>工作內容:網路管理,個人電腦軟硬體維修</h2><br>
			</td>

			<td>
				<h1>職務介紹</h1><br>
				<h2>MIS程式設計師,網路管理工程師,資料庫管理員</h2><br>
				
			</td>

			<td>
				<h1>條件要求</h1><br>
				<h2>工作經歷：3年以上</h2><br>
				<h2>學歷要求：大學,碩士</h2><br>
				<h2>科系要求：資訊管理,資訊工程</h2><br>
				<h2>語文條件：英文(聽說讀寫)皆中等</h2><br>
				<h2>擅長工具：TCP/IP,DNS等等</h2><br>
				<h2>工作技能：資料庫程式設計,資料庫軟體應用等等</h2><br>
			</td>
		</tr>
	</table>


	<footer>
		Copyright ©  楊荃喜. All Rights Reserved.
	</footer>
	<main class="container-fluid bg-dark text-white text-center">
</body>
</html>
